# Flutter
build/
.dart_tool/
.packages
.pub/
pubspec.lock

# Generated
*.g.dart
*.freezed.dart

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
